@charset "UTF-8";
/* CSS Document */
.wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	max-width: 100%;
	
}
.navigation {
	margin: -95px 0 0 600px; /*Indtiller menuen*/
	padding-bottom: 5px;
	
}
.navigation li {
	list-style: none;
	display: inline;
	font-family: Arial;
	font-size: 15px;
	margin: 0 5px;
	float: right;
}
.navigation a {
	text-decoration: none; /*fjerner understregningen af links*/
	font-weight: thin;
	margin: 0 30px 0 30px;
	padding-bottom: 50px;
	color: #000000;
}
.navigation2 { /*navigation 2 er lavet til siden "om mig"*/
	margin: -68px 0 0 600px; /*Indtiller menuen*/
	padding-bottom: 5px;
	
}
.navigation2 li {
	list-style: none;
	display: inline;
	font-family: Arial;
	font-size: 15px;
	margin: 0 5px;
	float: right;
}
.navigation2 a {
	text-decoration: none; /*fjerner understregningen af links*/
	font-weight: thin;
	margin: 0 30px 0 30px;
	padding-bottom: 50px;
	color: #000000;
}	
.logo {
	text-align:left;
	padding-top: 10px 10px;
	width: 20%;
	margin-left: 10px;
	margin-bottom: 30px;
	margin-top: 2px;
}
.logo2 { /*logo2 er lavet kun til "om mig"*/
	text-align:left;
	padding-top: 8px 8px;
	width: 20%;
	margin-left: 10px;
	margin-bottom: 30px;
	margin-top: 1px;
}
.baggrundsbillede {
	width: 800px;
	height: 900px;
	background-size: cover;
}
.nav {
	width: 80%;
	float: right;
	margin: -30px 0 0 60%;
}
.header {
	display: flex;
	flex-wrap: wrap;
	border: thin solid black;
	height: 55px;
	margin: 0 0 10px 0px;
}
.wrapperommig {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	margin-left: auto;
	margin-right: auto;
	max-width: 1050px;
}
.ommig {
	max-width: 400px;
}
.fotomig {
	width: 400px;
	outline: 0.5px solid black;
	margin-top: 55px;

}
h1 {
	font-family: Helvetica;
	font-weight: 100;
	font-size: 25px;
	margin-top: 50px;
}
p {
	font-family: Helvetica;
	font-weight: 100;
	font-size: 15px;
	line-height:20px;
	margin-right: 100px;
	
}
.wrapper-til-projekter {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	margin-left: auto;
	margin-right: auto;
	max-width: 1050px;	
}
.projekt {
	width: 250px;
	height: 250px;
	outline: 0.5px solid black;
	margin-top: 5px;
	margin-left: 5px;
	margin-right: 5px;
	margin-bottom: 5px;
	text-align: center;
	font-family: Helvetica;
	font-weight: 100;
}
.anbefalinger {
	width: 500px;
	height: 600px;
	outline: 0.5px solid black;
	margin: 30px 375px 30px 375px;
	text-align: center;
	font-family: Helvetica;
	font-weight: 100;
}
input[type=text], select, textarea {
    width: 100%; 
    padding: 10px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical;
}
input[type=submit] {
    background-color:#fff;
    color: #000;
    padding: 12px 20px;
    border: thin;
    border-radius: 4px;
    cursor: pointer;
}
input[type=submit]:hover {
    background-color:hsla(0,0%,69%,1.00);
}
.container {
    border-radius: 10px;
    background-color:hsla(0,5%,79%,1.00);
    padding: 50px;
	width: 40%;
	margin-left: auto;
	margin-right: auto;
	font-family: arial, sans-serif;
}
footer {
	background-color: white;
	color: #020000;
	text-align: center;
	font-family: Arial;
	margin: 10px 0px;
	font-size: 15px;
	padding: 15px 0px;
	border: solid 1px black;
	letter-spacing: 4px;	
}

